@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root{
    --text-color: rgb(10, 82, 140);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    text-align: center;
    background-color:#008cff;
    color: var(--text-color);
    font-family: 'Poppins', Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

#title{
    text-align: center;
}

#description{
    text-align: center;
}

.form-border{
    margin: 0;
    padding: 5%;
    text-align: left;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-box-shadow: 1px 5px 3px 0px #000000; 
    box-shadow: 1px 5px 3px 0px #000000;
    overflow-wrap: break-word;
}

button{
    padding: 2% 10%;
    text-align: center;
    background-color: #008cff;
    color:#ffffff;
    border-radius: 10px;
    border: 1px solid #008cff;
}

.button{
    text-align:center;
}

textarea{
    min-height: 100px;
    width: 70%;
    padding: 0.625rem;
    resize: vertical;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

#name, #email, #number, #dropdown, #school{
    border-radius: 30px;
    width: 40%;
    min-height: 20px;
    border: 1px solid var(--text-color);
}